/* **
  |============================
  | Base styles
  |============================
*/
*/
/* reset start */
body {
  font-family: var(--primary-font);
  color: var(--main-cl);
  background-color: var(--light-cl);
}
button {
  font-family: inherit;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}
/* reset end */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* PRICES */

.prices {
  padding-top: 54px;
  padding-bottom: 54px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.prices-list {
}

.prices-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0a224a;
  height: 102px;
  max-width: 343px;
  position: relative;
  overflow: hidden;
}

.prices-list-item:first-child {
  border-top: 1px solid #0a224a;
}

.prices-text-left {
  color: #0a224a;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.prices-text-left:hover {
  transform: translateX(50px);
}

.prices-text-left::before {
  content: " ";
  position: absolute;
  margin-right: 20px;
  width: 30px;
  height: 1px;
  background-color: #0a224a;
  top: 50%;
  left: -50px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-100%);
}

.prices-text-left:hover::before {
  transform: translateX(0);
}

.prices-text-right {
  color: #0a224a;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin-left: auto;
}

/* MEDIA */

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  .prices-list-item {
    height: 105px;
    max-width: 704px;
  }

  .prices-text-left {
    font-size: 32px;
    line-height: 1.4;
  }

  .prices-text-right {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1352px;
  }

  .prices-list-item {
    max-width: 1096px;
    margin: 0 auto;
  }
}



/* CLIENTS REVIEWS */



/* .clients-reviews {
  padding-top: 36px;
  padding-bottom: 36px;
}

.reviews-title {
  color: #0a224a;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.reviews-list-item {
  border-radius: 8px;
  background: #FFF;
  border: 1px solid red;
  padding: 24px;
}

.reviews-image {
  width: 48px;
  height: 48px;
}

.reviews-name {
  color: #0a224a;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  text-transform: uppercase;
}
.reviews-date-text {
  color: #0a224a;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

.reviews-text {
  color: #0a224a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42;
} */
